header {
  width: 20%;
  margin-top: -10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #4e5150;
}

section {
  width: 50%;
}

#title {
  margin-left: 22%;
  margin-top: 5%;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.input-1 {
  margin-left: 22%;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.input-1 input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 35px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
}

#name {
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.input-1 img {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  margin-top: 37px;
  padding: 10px;
}

.input-2 {
  margin-left: 22%;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.input-2 input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 35px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
}

#name {
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.input-2 img {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  margin-top: 37px;
  padding: 10px;
}

.country {
  margin-left: 22%;
  display: flex;
  flex-direction: column;
  width: 29%;
}

.country input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 35px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
}

#name {
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.country img {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  margin-top: 37px;
  padding: 10px;
}

.img-country img {
  display: flex;
  /* justify-content: flex-end; */
  margin-top: -30px;
  margin-left: 10.5%;
}

.postal {
  margin-left: 53%;
  display: flex;
  flex-direction: column;
  width: 29%;
  margin-top: -9%;
}

.postal input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 35px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
}

#name {
  color: #828282;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.postal img {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  margin-top: 37px;
  padding: 10px;
}

.checkbox {
  margin-left: 22%;
  display: flex;
  width: 60%;
  accent-color: rgba(242, 153, 74, 1);
}

#check {
  height: 15px;
  margin-left: -40px;
  margin-top: 8px;
}

#info-check {
  margin-top: 1.5%;
  display: flex;
  margin-left: -35px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}

.checkbox input {
  color: white;
  background: #f2994a;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 45px;
  margin-top: 15px;
  margin-left: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.shopping-card-1 {
  margin-left: 45%;
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #f2f2f2;
  flex-wrap: wrap;
  margin-top: -40%;
  margin-bottom: 5px;
  border-radius: 10px;
}

.shopping-card-1 img {
  width: 40%;
  height: 20%;
  border-radius: 12px;
  margin-top: 5%;
  margin-left: 5%;
}

.shopping-card-1 h5 {
  display: flex;
  justify-content: center;
  margin-top: -34%;
  margin-left: 30%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

#number {
  display: flex;
  justify-content: center;
  color: #f2994a;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0%;
  margin-left: 15%;
}

#number-2 {
  display: flex;
  justify-content: center;
  text-decoration-line: line-through;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-left: 40%;
  margin-top: -9%;
}

.cantidad {
  display: flex;
  width: 31%;
  height: 26%;
  margin-left: 50%;
  border-radius: 12px;
  border: 1px solid rgb(8, 8, 8);
  padding: 0px;
}

.cantidad img {
  width: 24%;
  margin-right: 15px;
  border-radius: 5px;
  background: #e0e0e0;
}

.cantidad p {
  font-weight: 600;
  font-size: 18px;
  line-height: 6px;
  margin-right: 7px;
}

.totales p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

#hr1 {
  margin-top: 15%;
  width: 75%;
}

#shipping {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-left: 15%;
}

#span-1 {
  margin-left: 50%;
}

#total {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-left: 15%;
}
#hr2 {
  margin-top: 10px;
  width: 75%;
}

.footer {
  text-align: center;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: #b9bdcf;
  margin-top: 5%;
}
