header {
  width: 20%;
  margin-top: -10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #4e5150;
}

section {
  width: 50%;
}

#title {
  margin-left: 22%;
  margin-top: 5%;
}

.input-1 {
  background: grey;
}
